.app-header {
    background: linear-gradient(90deg, #FF8FA3, #FF8FA3); 
    height: 60px;
    padding: 16 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C9184A
}

.logo {
    color: #C9184A;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}

.nav-menu {
    display: flex;
    gap: 24px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14ps;
    font-weight: 500;
}

.nav-link:hover {
    color: #C9184A;
}
